APP_ENVIRONMENT=dev
STAGING_DATABASE_URL=postgresql://<user>:<password>@ep-divine-rain-axt5p0um-pooler.c-4.us-east-2.aws.neon.tech/wyrmwood_collective?sslmode=require&channel_binding=require
DEV_DATABASE_URL=postgresql+psycopg://postgres:<password>@localhost:5432/wyrmwood_coffee
TEST_DATABASE_URL=postgresql+psycopg://postgres:<password>@localhost:5432/wyrmwood_coffee_test
JWT_SECRET_KEY= replace-me-with-32-characters
JWT_ALGORITHM=HS256
JWT_EXPIRATION_MINUTES=30

# LOG_LEVEL=INFO # DEBUG, INFO, WARNING (default), ERROR, CRITICAL
